/* ==========================================================================
   #PADDING
   ========================================================================== */

//  Ensure these settings are configured before the @import of this file.
$spacing-class-limit: 200;

/**
 * Because the spacing/vertical measure across the site is very variable,
 * we're giving ourselves flexibility by adopting an almost
 * atomic-css approach. We're using uncss (tree-shaking) as part of
 * our production build process, to ensure only those selectors utilised
 * in the markup are served up in the stylesheet. This, along with the fact that
 * the Gzip compression algorithm favours repetition in strings, means that
 * the enourmous number of classes generated here doesn't matter.
 *
 * The following loop generates spacing classes with 1px increments
 * E.g. .u-padding-1, .u-padding-2, .u-padding-3 etc, where the number corresponds
 * to the bottom padding in px.
 */
@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i} {
    // $i * 1px ensures arguemnt passed is a px number and not a string
    padding-bottom: rem-calc($i * 1px);
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}-\@sml {
    @include phablet {
      padding-bottom: rem-calc($i * 1px);
    }
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}-\@md {
    @include tablet {
      padding-bottom: rem-calc($i * 1px);
    }
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}-\@lrg {
    @include desktop {
      padding-bottom: rem-calc($i * 1px);
    }
  }
}


@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}--top {
    // $i * 1px ensures arguemnt passed is a px number and not a string
    padding-top: rem-calc($i * 1px);
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}--top-\@sml {
    @include phablet {
      padding-top: rem-calc($i * 1px);
    }
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}--top-\@md {
    @include tablet {
      padding-top: rem-calc($i * 1px);
    }
  }
}

@for $i from 0 through $spacing-class-limit {
  .u-padding-#{$i}--top-\@lrg {
    @include desktop {
      padding-top: rem-calc($i * 1px);
    }
  }
}


