/* ==========================================================================
   #SHOW-HIDE
   ========================================================================== */

/**
 *	Hide only visually, but have it available for screen readers:
 *	https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 *	1. For long content, line feeds are not interpreted as spaces and small width
 *	   causes content to wrap 1 word per line:
 *     https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.u-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* [1] */
}

//	Hide/show content at responsive breakpoints
.u-hide {
	display: none
}

.u-hide-\@sml { @include phablet { display: none } }

.u-hide-\@md { @include tablet { display: none } }

.u-hide-\@lrg { @include desktop { display: none } }

.u-show { display: inline-block }

.u-show-\@sml {
	display: none;

	@include phablet { display: inline-block }
}

.u-show-\@md {
	display: none;

	@include tablet { display: inline-block }
}

.u-show-\@md--block {
	display: none;

	@include tablet { display: block }
}

.u-show-\@lrg {
	display: none;

	@include desktop { display: inline-block }
}
