/* ==========================================================================
   #CENTERED-MEDIA
   ========================================================================== */

.o-centered-media {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }

  &--fw {
    width: 100%;
  }
}
