/* ==========================================================================
   #WRAPPER
   ========================================================================== */

//  Ensure these settings are configured before the @import of this file.
$wrapper-max-widths: (
    default: 1040px,
    narrow:  760px,
    wide:    1200px
);

.o-wrapper {
    display: block;
    margin: 0 auto;
    max-width: map-get($wrapper-max-widths, default);
    padding: {
        left: rem-calc($base-spacing-unit);
        right: rem-calc($base-spacing-unit);
    }
    width: 100%;
}

/* STYLE VARIANTS
   ========================================================================== */
.o-wrapper--fw {
	max-width: none;
}

.o-wrapper--narrow {
	max-width: map-get($wrapper-max-widths, narrow);
}

.o-wrapper--wide {
	max-width: map-get($wrapper-max-widths, wide);
}

.o-wrapper--left-align {
	margin: {
        left: 0;
        right: 0;
    }
}

.o-wrapper--no-pad {
	padding: {
        left: 0;
        right: 0;
    }
}

.o-wrapper--text-center {
	text-align: center;
}
