/*------------------------------------
    #SETTINGS: TYPOGRAPHY
-------------------------------------*/

//	Font stack
// @font-face {
// 	font-family: '';
// 	src: local(''),
// 		url('../fonts/.woff2') format('woff2'),
// 		url('../fonts/.woff') format('woff'),
// 		url('../fonts/.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: '-medium';
// 	src: local('-medium'),
// 		url('../fonts/.woff2') format('woff2'),
// 		url('../fonts/.woff') format('woff'),
// 		url('../fonts/.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: '-light';
// 	src: local('-light'),
// 		url('../fonts/.woff2') format('woff2'),
// 		url('../fonts/.woff') format('woff'),
// 		url('../fonts/.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }

//	Font families
$font-fallback: 'Helvetica', Arial , sans-serif;
$font-fallback-regular: '', Helvetica, Arial, sans-serif;
$font-fallback-medium: '-medium', Helvetica, Arial, sans-serif;
$font-fallback-light: '-light', Helvetica, Arial, sans-serif;
$font-fallback-serif: "Times New Roman", serif;


//	Typography sizing - major third typographic scale.
$font-size-1:  39px !default;
$font-size-2:  31px !default;
$font-size-3:  25px !default;
$font-size-4:  20px !default;
$font-size-5:  16px !default;
$font-size-6:  12px !default;
$font-size-7:  10px !default;
$font-size-8:  8px  !default;
