/*------------------------------------
    #SETTINGS: TYPOGRAPHY
-------------------------------------*/
// Users/michelefasciano/Collective/hyundai_content_hub/packages/pagekit/theme-one/fonts/hyundaisanshead-medium-webfont.ttf

//	Font stack
@font-face {
	font-family: 'hyundaisanshead';
	src: local('hyundaisanshead'),
		url('../fonts/hyundaisanshead-regular-webfont.woff2') format('woff2'),
		url('../fonts/hyundaisanshead-regular-webfont.woff') format('woff'),
		url('../fonts/hyundaisanshead-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'hyundaisanshead-medium';
	src: local('hyundaisanshead-medium'),
		url('../fonts/hyundaisanshead-medium-webfont.woff2') format('woff2'),
		url('../fonts/hyundaisanshead-medium-webfont.woff') format('woff'),
		url('../fonts/hyundaisanshead-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'hyundaisanshead-light';
	src: local('hyundaisanshead-light'),
		url('../fonts/hyundaisanshead-light-webfont.woff2') format('woff2'),
		url('../fonts/hyundaisanshead-light-webfont.woff') format('woff'),
		url('../fonts/hyundaisanshead-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//	Font families
$font-fallback: 'Helvetica', Arial , sans-serif;
$font-hyundai-regular: 'hyundaisanshead', Helvetica, Arial, sans-serif;
$font-hyundai-medium: 'hyundaisanshead-medium', Helvetica, Arial, sans-serif;
$font-hyundai-light: 'hyundaisanshead-light', Helvetica, Arial, sans-serif;


//	Typography sizing - major third typographic scale.
$font-size-1:  39px !default;
$font-size-2:  31px !default;
$font-size-3:  25px !default;
$font-size-4:  20px !default;
$font-size-5:  16px !default;
$font-size-6:  12px !default;
$font-size-7:  10px !default;
$font-size-8:  8px  !default;
